################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/vs_project/.vs
/vs_project/x64/Debug
*.user
/vs_project/can_stat.2f0263b9/x64/Debug
/vs_project/can_stat.2f0263b9/Debug
/vs_project/Debug
